<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.compose">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="ComposeDemo"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CaseActivity" />
        <activity android:name=".MutableStateActivity" />
        <activity android:name=".ModifierActivity" />
        <activity android:name=".AnimationActivity" />
        <activity android:name=".DrawActivity" />
        <activity android:name=".LayoutActivity" />
        <activity android:name=".TouchActivity" />
        <activity android:name=".AndroidViewAddComposeActivity" />
        <activity android:name=".ComposeAddAndroidViewActivity" />
    </application>
</manifest>